.Task-Container {
  width: 50%;
  margin: 0 auto;
  padding-top: 10px;
}
.Task {
  position: relative;
  border: 1px solid grey;
  border-radius: 20px;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.Task:hover {
  background-color: grey;
}

.TaskName {
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: larger;
  font-weight: 500;
}

.TaskDate {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  font-weight: lighter;
}